body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgreen;
}

h1 {
    font-size: 12rem;
}

.letter {
    transition: color 500ms;
}